* {
    box-sizing: border-box;
    margin: 0;  
    padding: 0; 
    background-color: rgb(35, 155, 235);
}

section{
    height: 90vh;
}
section#hero{
    background-color: rgb(2, 25, 73);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.perfil{
    border: 5px solid #e30613;
    border-radius: 15px;
    width: 500px;
    margin: 100px;
}
.perfil img{
    width: 50%;
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
}

h2{
    font-size: 1.7rem;
}
.projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-detail{
    border: 5px solid #e30613;
    border-radius: 15px;
    width: 400px;
    margin: 100px;
}
.project-detail img{
    width: 100%;
}

header{
    position: sticky;
    top: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #d42e39;
}

nav ul{ 
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: rgba(65, 106, 145, 0.651);
    border: 1px solid rgb(8, 8, 8);
}
#contact {
    background-color: #d42e39;

}