<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">LUIS FERNANDO ILBAY HERNÁNDEZ</h2>
                <hr class="light">
                <p class="text-faded">Soy oriundo de la ciudad de Riobamba ciudad de Chimborazo país Ecuador. Desde muy temprana edad, comencé mi educación en la Escuela Simon Bolivar, donde aprendí los valores fundamentales de la educación y el compañerismo.Luego, continué mi educación en el Colegio Unidad Educativa Cristiana "Nazareno", donde consolidé mi formación académica y me obtuve mi titulo de secundaria en el área de Bachillerato en Ciencias Generales.
                    <br>Actualmente, me encuentro cursando el séptimo semestre de la carrera de Pedagogía de las Ciencias Experimentales: Informática en la Universidad Nacional de Chimborazo, donde he podido desarrollar habilidades y conocimientos especializados en el campo de la educación y la tecnología. Esta carrera me ha brindado la oportunidad de adquirir experiencia práctica y teórica, lo que me ha permitido desarrollar un pensamiento crítico y creativo.
                     <br>Considero que mi formación académica me ha preparado para enfrentar los desafíos que se presenten en mi carrera profesional, y estoy dispuesto a seguir aprendiendo y adquiriendo nuevas habilidades para crecer en mi campo.</p>
                <a href="https://drive.google.com/file/d/153i4uDLL4_HZeviUOw2neWnYWdwXeTsT/view?usp=share_link" class="btn btn-default btn-xl">Video Autobiograía</a>
            </div>
        </div>
    </div>
</section>
