<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Redes Sociales</h2>
                <hr class="primary">
                <p>En este apartadado te muestro como puedes contactarme por mis distintas redes sociales</p>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://wa.me/593{{ 997278020 }}">
                <i class="fa fa-whatsapp fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ +593997278020 }}</p>
                </a>
            </div>
           <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.instagram.com/fernando.i.hernandez/?next=%2F">
            <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ fernando.i.hernandez }}</p>
            </a>
           </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href=" https://github.com/lfih-96 ">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ lfih-96 }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.facebook.com/fernando.i.hernandez.33/">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ fernando.i.hernandez.33 }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:luisfernandoilbayhernandez@gmail.com">
            <i class="fa fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ luisfernandoilbayhernandez@gmail.com }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.pinterest.es/ilbayhernandez/">
            <i class="fa fa-pinterest fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ ilbayhernandez }}</p>
            </a>
        </div>
    </div>
</section>
