<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="headerh1"><br>
                <br>
                <br>LUIS FERNANDO ILBAY HERNÁNDEZ</h1>
            <hr>
            <p id="headerp"> <br>
                <br>Hola, mi nombre es Luis Fernando Ilbay Hernandez. Soy un apasionado de la informática y todo lo relacionado con la tecnología además, tengo una gran pasión por la música y toco la guitarra en mi tiempo libre. Creo que la creatividad es una parte esencial de la vida y busco incorporarla en todo lo que hago a diaria.</p>
            <a href="https://drive.google.com/file/d/1227l1vFmNjmx38fSVXjeDp_bxAILpDs-/view?usp=share_link" class="btn btn-primary btn-xl page-scroll">Observa uno de mis proyectos</a>
        </div>
    </div>
</header>
